<h1>Listing horses</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @horses.each do |horse| %>
  <tr>
    <td><%= horse.name %></td>
    <td><%= link_to 'Show', horse %></td>
    <td><%= link_to 'Edit', edit_horse_path(horse) %></td>
    <td><%= link_to 'Destroy', horse, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Horse', new_horse_path %>
